@use 'variables' with (
  $primary-action-color:  #4d5491,
  $secondary-action-color:  #4d5491,
  $header-url: 'config/style/header.svg',
  $footer-url: 'config/style/header.svg'
);

#header,
#footer {
  background-color: $primary-action-color;
}

.SRC-portalCard a {
  color: $primary-action-color !important;
}

.SRC-primary-background-color-border-left {
  border-left-color: $primary-action-color !important;
}
.SRC-mailchimpSubscribeContainer {
  button {
    background-color: $primary-action-color !important;
  }
}

footer {
  img.nav-logo {
    width: 250px;
  }
}

.SRC-chart-link {
  a {
    background: $primary-action-color !important;
  }
}

.stop-ad-home-page {
  margin-top: 20px;
}
