node_modules/
build/
src/config/
*.css
*.css.map
.DS_Store
.vscode/
.idea/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# We currently aren't using Zero-Installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions