@use '../../style/variables' as Portal;

#header {
  height: fit-content;
  background-image: none;
}
#footer {
  height: 120px;
  background-image: none;
}

#header {
  display: none;
}

#footer {
  background: #3c3c42;
}

.SRC-chart-link {
  a {
    background: Portal.$primary-action-color !important;
  }
}

// targets all columns that are 4 from the beginning
// https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child
// relying on having specified the order in the studies sql
td.SRC_noBorderTop:nth-child(n + 4) {
  .markdown.markdown-inline {
    a {
      font-size: 0px;
      white-space: nowrap;
    }
    a::before {
      display: inline-block;
      content: ' ';
      background-color: Portal.$primary-action-color;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-fontSizeSmall' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='InfoIcon' aria-label='fontSize small'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z'%3E%3C/path%3E%3C/svg%3E ");
      width: 15px;
      height: 15px;
      margin-right: -4px;
    }
    a::after {
      font-size: 14px;
      content: 'More Info';
    }
  }
}
.bootstrap-4-backport {
  .btn-secondary,
  .btn-secondary-base {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.AboutPage {
  margin-top: 25px !important;
}

/** 
Adam's style hacks
**/
$ARK-gray-100: #f9f9f9 !default;
$ARK-gray-200: #dcdcdc !default;
$ARK-gray-600: #87878b !default;
$ARK-gray-700: #6b6b6f !default;
$ARK-gray-800: #3c3c42 !default;
$ARK-gray-900: #1d1d22 !default;

.Goals {
  &__Desktop {
    gap: 30px;  
  }
  &__Card {
    position: relative;
    background: #fff;
    border: 1px solid $ARK-gray-200;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.05), 0px 1px 1px rgba(208,212,217,0.05);
    border-radius: 10px;
    margin: 0;
    padding: 40px;
    display: flex;
    align-items: flex-start;  
    &:hover {
      transition: all 0.24s ease-in-out;
      border: 1px solid #f2caba;
      background: #fefbfa;
    }
    p {
      margin: 0;
    }
    &__header {
      background: none !important;
      min-height: auto;
      margin-bottom: 14px;
      &__title {
        text-align: left;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 150%;
        color: $ARK-gray-900;
      }
    }
    &__summary {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      line-height: 1.5;
      color: $ARK-gray-700;
      margin-bottom: 40px;
      &__link.btn.pill {
        border-color: transparent;
        display: block;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 20px;
        color: Portal.$primary-action-color;
        font-size: 0px;
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        text-decoration: none;
        align-self: flex-end;
        &:hover, &:active {
          background-color: unset !important;
        }
        &:after {
          box-sizing: border-box;
          content: '';
          height: 100%;
          width: 100%;
          display: block;
          background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDciIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NyA0NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjg1NzkgMjIuNjU1M0gzNi4zMTM4IiBzdHJva2U9IiNFNzk3NzYiIHN0cm9rZS13aWR0aD0iNCIvPgo8cGF0aCBkPSJNMjQuNDM0MyAxMC43MTU4TDM2LjQzNDMgMjIuNzE1OEwyNC40MzQzIDM0LjcxNTgiIHN0cm9rZT0iI0U3OTc3NiIgc3Ryb2tlLXdpZHRoPSI0Ii8+Cjwvc3ZnPgo=") no-repeat bottom right;
        }
      }
    }
    &__header, &__summary {
      padding: 0;
    }
  }
}

.CollectionList .SRC-imageThumbnail img{
  float: right;
  max-width: 110px;
  padding-right: 30px;
  padding-top: 20px;
}

.DatasetDetailPage #Acknowledgment {
  padding: 10px 45px;
}
