@use '../../style/variables' as Portal;

#header {
  height: fit-content;
  background-image: none;
}
#footer {
  height: 120px;
  background-image: none;
}

#header {
  display: none;
}

#footer {
  background: #3c3c42;
}

.SRC-chart-link {
  a {
    background: Portal.$primary-action-color !important;
  }
}

// targets all columns that are 4 from the beginning
// https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child
// relying on having specified the order in the studies sql
td.SRC_noBorderTop:nth-child(n + 4) {
  .markdown.markdown-inline {
    a {
      font-size: 0px;
      white-space: nowrap;
    }
    a::before {
      display: inline-block;
      content: ' ';
      background-color: Portal.$primary-action-color;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-fontSizeSmall' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='InfoIcon' aria-label='fontSize small'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z'%3E%3C/path%3E%3C/svg%3E ");
      width: 15px;
      height: 15px;
      margin-right: -4px;
    }
    a::after {
      font-size: 14px;
      content: 'More Info';
    }
  }
}
.bootstrap-4-backport {
  .btn-secondary,
  .btn-secondary-base {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.AboutPage {
  margin-top: 25px !important;
}
