@use '../../style/variables' with (
  $primary-action-color: #00255c,
  $secondary-action-color: #2699a7,
  $header-url: 'molecule-back.svg',
  $footer-url: 'molecule-back.svg'
);

#header,
#footer {
  background-color: #154c9a;
}
