$primary-text-color: #407ba0;
$primary-action-color: #47337d;

// Note length($button-colors) must equal length of explore page routes
$button-colors: (
  // https://softwareengineering.stackexchange.com/questions/314537/why-does-nth-child-in-css-start-from-1-instead-of-0
    1: $primary-action-color,
  2: #407ba0,
  3: #7798ac,
  4: #77bbbf,
  5: #5e697d
);

// Since scss breaks if a file is missing in a local url link these functinons must get manually overwitten
@function getHeader($path) {
  @return url($path+'/header.svg');
}

@function getFooter($path) {
  @return '';
}
