$primary-text-color: #407ba0;
$primary-action-color: #47337d;

#header,
#footer {
  background-blend-mode: multiply;
}

.nav-logo {
  height: 65px;
}

.SRC-chart-link {
  a {
    background: $primary-action-color !important;
  }
}

.CSBC-ThemesPlot {
  margin-bottom: 63px;
}

// Since scss breaks if a file is missing in a local url link these functinons must get manually overwitten
@function getHeader($path) {
  @return url($path + '/dna_header.svg');
}

@function getFooter($path) {
  @return url($path + '/dna.svg');
}
