@use '../../style/variables' as Portal;

#header,
#footer {
  background-blend-mode: multiply;
}

.nav-logo {
  height: 65px !important;
}

.SRC-chart-link {
  a {
    background: Portal.$primary-action-color !important;
  }
}

.CSBC-ThemesPlot {
  margin-bottom: 63px;
}

.Programs__Card__header__info__link {
  a {
    visibility: hidden;
  }
  a:after {
    content: 'Visit the NCI Webpage';
    visibility: visible;
    display: block;
    margin-top: -20px;
  }

}
.cancercomplexity-consortia {
  .Programs__Card {
    width: 32%;
    height: 375px;
    margin-left: 5px;
  }
}
