@import "config/style/overides";

// Ljubo edits to Markdown
.markdown {
  color: #515359 !important;
  
  .h2, h2 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: #515359;
    margin-top: 42px;
  }
    
  .h3, h3 {
    font-size: 18px;
    font-weight: 700;
    color: #515359;
  }
    
  h3 {
    padding: 0px;
  }
    
  p {
    color: #515359;
    margin: 21px 0;
    padding: 0;
  }
  
  // only select anchors without SRC-primary-button class
  a:not(.SRC-primary-button), details > summary {
    font-weight: 700;
    color: $primary-action-color;
  }

  // PORTALS-700
  details > summary {
    list-style: none;
    cursor: pointer;
    display: inline;
    margin-left: 2px;
    border-bottom: 1px solid transparent;
  }
  details > summary:hover {
    border-bottom: 1px solid $primary-action-color;
  }
  details > summary::-webkit-details-marker {
    display:none;
  }
  details[open] > summary {
    display: none;
  }
}

.markdown p {
margin: 0;
padding-bottom: 12px;
font-size: 15px;
line-height: 23px;
}

.markdown p a {
color: #4d5491; /* action color */
font-weight: 700;
}

.markdown h4 {
padding: 7px 0 14px 0;
margin: 0;
font-weight: 700;
font-size: 18px;
line-height: 120%;
}
.markdown h5 {
padding: 0;
margin: 0;
color: #ABABAC; /* deemphasized color */
}

.title + .markdown {
margin-top: 42px;
}