@import "config/style/overides";

// Ljubo edits to Markdown
.markdown {
  .h2, h2 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: #515359;
    margin-top: 42px;
  }
    
  .h3, h3 {
    font-size: 18px;
    font-weight: 700;
    color: #515359;
  }
    
  h3 {
    padding: 0px;
  }
    
  p {
    color: #515359;
    margin: 21px 0;
    padding: 0;
  }
  
  a, details > summary {
    font-weight: 700;
    color: $primary-action-color;
  }

  // PORTALS-700
  details > summary {
    list-style: none;
    cursor: pointer;
    display: inline;
    margin-left: 2px;
    border-bottom: 1px solid transparent;
  }
  details > summary:hover {
    border-bottom: 1px solid $primary-action-color;
  }
  details > summary::-webkit-details-marker {
    display:none;
  }
  // SWC-4987 (css hack). change position when open. set the visiblity of the element to hidden, and make the pseudo-element visible!
	details[open] {
		position: relative;
		padding-bottom: 25px;
		summary {
			position: absolute;
			bottom: 0px;
			visibility: hidden;
		}
		summary::before {
			content: 'Show Less';
			visibility: visible;
		}
	}
}
