@import "config/style/overides";

// Ljubo edits to Markdown
.markdown {
  .h2, h2 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: #515359;
    margin-top: 42px;
  }
    
  .h3, h3 {
    font-size: 18px;
    font-weight: 700;
    color: #515359;
  }
    
  h3 {
    padding: 0px;
  }
    
  p {
    margin: 21px 0;
    padding: 0;
  }
  
  a {
    font-weight: 700;
    color: $primary-action-color;
  }
}
