$primary-text-color: #404B63;
$primary-action-color: #404B63;

// Since scss breaks if a file is missing in a local url link these functinons must get manually overwitten
@function getHeader($path) {
  @return url('config/style/molecule-back.svg');
}

#header,
#footer {

  background-color: #125E81;
  background-blend-mode: multiply;
}