@use 'src/variables' with (
  $primary-action-color:  #125e81,
  $secondary-action-color:  #404b63,
  $header-url: 'config/style/molecule-back.svg',
  $footer-url: ''
);

#header,
#footer {
  background-color: #125e81;
  background-blend-mode: multiply;
}
