@use '../../style/variables' as Portal;

#header,
#footer {
  background-color: Portal.$primary-action-color;
  background-blend-mode: multiply;
}
.InitiativeCardList {
  .SRC-portalCardMain {
    margin-left: 0px;
  }
}
