.HomePageLinks {
  margin-top: -6px;
  background: #ffffff;
  border: 1px solid #dddddf;
  height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
  .link {
    flex: 1;
    color: #47337d;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
  }

  #goals-icon {
    height: 100%;
    width: 100%;
  }
}
