// Variables used in Portals SCSS should be defined in this file.

$primary-action-color: rgb(64, 123, 160) !default;
$secondary-action-color: rgb(98, 172, 98) !default;
$header-url: '' !default;
$footer-url: '' !default;

// Since scss breaks if a file is missing in a local url link these functinons must get manually overwitten
@function getHeader($path) {
  @return url($header-url);
}

@function getFooter($path) {
  @return url($footer-url);
}
