// Variables used in Portals SCSS should be defined in this file.

$primary-action-color: rgb(64, 123, 160) !default;
$secondary-action-color: rgb(98, 172, 98) !default;
$header-url: '' !default;
$footer-url: '' !default;
$dark-gray: #1A1C29;
$header-height: 75px;
$banner-height: 47px;
$border-color-gray: #dcdcdc;

// Since scss breaks if a file is missing in a local url link these functinons must get manually overwitten
@function getHeader($path) {
  @if $header-url == '' {
    @return none;
  } @else {
    @return url($path + $header-url);
  }
}

@function getFooter($path) {
  @if $footer-url == '' {
    @return none;
  } @else {
    @return url($path + $footer-url);
  }
}
