$primary-text-color: #245879;
$primary-action-color: #245879;

#footer,
#header {
  height: fit-content;
  background-image: none;
}

#header {
  position: relative;
  .header-text {
    position: absolute;
    top: 20%;
    min-height: 50%;
    @media only screen and (max-width: 1200px) {
      top: 5%;
      width: 90%;
      left: 5%;
      height: 90%;
    }
    height: fit-content;
    h2 {
      margin-bottom: 20px;
    }
    width: 60%;
    left: 10%;
    margin: 0px;
    padding: 25px;
  }
}

#footer {
  background: linear-gradient(263.11deg, #8bb4ce 2.14%, #3e7293 50.63%);
}

.SRC-chart-link {
  a {
    background: $primary-action-color !important;
  }
}

// targets all columns that are 4 from the beginning
// https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child
// relying on having specified the order in the studies sql
td.SRC_noBorderTop:nth-child(n + 4) {
  .markdown.markdown-inline {
    a {
      font-size: 0px;
      white-space: nowrap;
    }
    a::before {
      font-size: 14px;
      font-family: 'Font Awesome 5 Free';
      content: '\f05a';
    }
    a::after {
      font-size: 14px;
      padding-left: 3px;
      content: '  More Info';
    }
  }
}

.PORTALS-1365 {
  .markdown {
    a {
      font-size: 0px;
    }
    a::before {
      font-size: 14px;
      content: 'How to access the data     ';
    }
    a::after {
      font-size: 14px;
      font-family: 'Font Awesome 5 Free';
      padding-left: 3px;
      content: '\f35d';
    }
  }
}

.AboutPage {
  margin-top: 25px;
}

// Since scss breaks if a file is missing in a local url link these functinons must get manually overwitten
@function getHeader($path) {
  @return url($path + '/dna_header.svg');
}

@function getFooter($path) {
  @return url($path + '/dna.svg');
}
