body {
  font-family: 'Lato', sans-serif;
  button:focus {
    // bootstrap override
    outline: none;
  }
}

// this pushes the footer to the bottom of the screen
.main {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 60px; /* height of your footer */
}

// utilities
.menu-wall {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 900;
  left: 0;
  top: 0;
  background: transparent;
  border: none;
}

.uppercase {
  text-transform: uppercase;
}

.normal-weight {
  font-weight: normal;
}

.center-content {
  display: flex;
  align-items: center;
}
// $primary-text-color: #407BA0;
// $primary-action-color: #47337D;
$header-height : 75px;
@import "example-configuration/style/overides";


.SRC-primary-background-color {
  background-color: $primary-action-color !important;
}

.SRC-primary-background-color-hover:hover {
  background: $primary-action-color !important;
  color: white !important;
  svg.SRC-primary-text-color {
    color: white !important;
  }
  a.SRC-no-focus {
    color: white;
  }
}

.SRC-primary-background-color-hover.SRC-nested-color:hover * {
  background-color: $primary-action-color !important;
  color: white !important;
}

.spacer {
  min-height: $header-height;
  height: $header-height;
}

.flex-display {
  display: flex;
}
// avoid having to rewrite this everywhere
%hoverFade {
  transition: all 400ms;
}

%defaultBoxShadow {
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5);
}
// end utilities

// nav
.nav-logo-container {
  flex-basis: 50%;
}

.nav-link-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 40px;
  @media screen and (max-width: 520px) {
    padding-right: 0px;
  }
}

.nav {
  opacity: 0.9;
  padding-bottom: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  min-height: $header-height;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 4;
  background: white;
  height: 67px;
  a:hover {
    text-decoration: none;
  }
  a:focus {
    text-decoration: none;
    color: $primary-action-color;
  }
}

.nav-button {
  text-transform: uppercase;
  font-weight: bold;
  height: -webkit-fill-available;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  color: #404B63;
  text-decoration: none;
  padding: 0px 40px;
  min-width: 100px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color:transparent;
}

.quarter-flex-basis {
  flex-basis: 50%;
}
.nav-button:hover {
  @extend %hoverFade;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color:$primary-action-color;
  // margin-bottom: -3px;
  color: $primary-action-color;
}


.bottom-border {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color:$primary-action-color;
  margin-bottom: -3px;
}

#home-link {
  font-weight: bold;
  font-size: 25px;
  color: $primary-action-color;
  margin-left: 15px;
}

// bootstrap override
.open > a {
  color: $primary-action-color !important;
  background-color: white !important;
  &:focus {
    border-color: unset !important;
  }
  &:hover {
    border-color: unset !important;
  }
}

.dropdown-link {
  color: #515359;
  padding-left: 20px;
  height: 37px;
}

.dropdown-link:hover {
  color: white;
}

// bootstrap override
.dropdown-menu {
  margin: 0px;
  border-radius: 0%;
}
// end nav

// footer
#portal-title-footer {
  flex-basis: 50%;
  font-size: 25px;
  padding-left: 15px;
  a {
    text-decoration: none;
  }
}

#portal-contact-footer {
  flex-basis: 50%;
  display: flex;
  flex-direction: row-reverse;
}

.footer-link {
  padding: 0px 30px;
}


.hand-cursor {
  cursor: pointer;
}

#footer {
  text-transform: uppercase;
  // TODO: Replace image
  // background-image: url("./example-configuration/style/footer.svg");
  background-blend-mode: multiply;
  background-color: $primary-text-color;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  a {
    color: white;
  }
  height: 60px;
  width: 100%;
}

.SRC-primary-text-color {
  color: $primary-text-color !important;
}

.footer-help {
  flex-basis: 50%;
}

// end footer

// header
#header {
  // TODO: Replace img
  // background-image: url("./example-configuration/style/header.svg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primary-text-color;
  height: fit-content;
  padding: 40px;
}

.header-text {
  h2 {
    font-weight: bold;
  }
  height: fit-content;
  padding: 30px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
// end header

#explore-portal {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}
// ExploreButtons 

 
@mixin buttonColor {
  @for $i from 1 to length($button-colors) {
    &:nth-child(#{$i}) {
       background: map-get($button-colors, $i);
       &.active-button::after {
        border-top-color: map-get($button-colors, $i);;
      }
    }
  }
}

.explore-buttons {
  margin-top: 30px;
  margin-bottom: 32px;
  text-transform: uppercase;
  display: flex;
  align-content: center;
  justify-content: center;
  button {
    @include buttonColor;
    text-transform: uppercase;
    border-radius: 16px;
    flex-basis: 18%;
    margin: 0px 16px;
    border: none;
    position: relative;
    height: 50px;
    color: white;
    // TODO: Replace these hard coded colors
    &:nth-child(1) {
      margin-left: 0px;
    }
    // caret dropdown
    &.active-button::after {
      border-right: solid 12px transparent;
      border-left: solid 12px transparent;
      border-top: solid 12px;
      transform: translateX(-50%);
      position: absolute;
      z-index: 3;
      content: '';
      top: 100%;
      left: 50%;
      height: 0;
      width: 0;
    }
    &:hover {
      @extend %hoverFade;
      @extend %defaultBoxShadow;
    }
  }
}
// end ExploreButtons

// exploreData button

#exploreData {
  bottom: 40px;
  right: 50px;
  position: absolute;
  border-radius: 24px;
  background-color: $primary-action-color;
  position: absolute;
  color: white;
  height: 44px;
  width: 257px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover {
    @extend %hoverFade;
    @extend %defaultBoxShadow;
  }
}

// end exploreData button
#homePageBarChart {
  position: absolute;
  right: 0;
  width: 100%;
}

.homeExploreContainer {
  position: relative; 
  height: 220px;
}

// title
.title {
  font-weight: bold;
  font-size: 21px;
  margin: 0px;
}
// end title
// home page utils
.newContainer {
  position: relative;
  margin: 40px 0px;
}

.viewAll {
  margin-right: 15px;
  border-radius: 24px;
  background-color: #DFDFDF;
  color: black;
  width: 130px;
  height: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  justify-content: center;
  &:hover {
    @extend %hoverFade;
    background-color: $primary-action-color;
    color: white;
    text-decoration: none;
    @extend %defaultBoxShadow;
  }
}

.bar-loader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

// end home page utils

// override src view more

.SRC-viewMoreButton {
  border-width: 0px;
  &:hover {
    @extend %hoverFade;
    @extend %defaultBoxShadow;
  }
}

div.SRC-title > h3 a {
  color: $primary-text-color;
}

// override src explore chart button color
button.btn-sm.SRC-floatRight {
  border: none;
  svg {
    color: $primary-action-color !important;
  }
}

#exploreCount {
  padding-top: 20px;
}
