// Override Portal variables in this file

@use '../../style/variables' with (
  $primary-action-color: #f00,
  // TODO
  $secondary-action-color: #0f0,
  // TODO The secondary action color may be the same as the primary action color, if desired.
  $header-url: '',
  // Optional
  $footer-url: '' // Optional
);
