.GenerateComponentsFromRow {
  display: flex;
  .menu-row-button  {
    background: rgba(60, 74, 99, 0.1);
    height: 40px;
    width: 180px;
    text-align: left;
    padding-left: 20px;
    color: #515359;
    border: 1px solid rgba(26, 28, 41, 0.1);
  }
  .button-container {
    flex: 1;
  }
  .component-container {
    flex: 4;
  }
  hr {
    margin: 0px;
  }
  h2 {
    padding-top: 0px;
  }
  div.SRC-overflowAuto {
    min-height: 150px !important;
  }
  .first-title {
    margin-top: 40px;
  }
  // stack menu and components, expand menu buttons full screen
  @media screen and (max-height: 729px) {
    flex-direction: column;
    .button-container {
      display: flex;
      flex-direction: column;
      & > {
        flex: 1;
      }
    }
    .component-container {
      flex: 1;
    }
    .menu-row-button {
      width: auto;
      text-align: center;
    }
  }
}