@use 'variables' as Portal;

.browse-tools-page {
  .searchToolsRow {
    margin-top: 20px;
    display: grid;
    max-width: 750px;
    grid-template-columns: 500px 200px;
    input {
      height: 41px;
    }
    .search-button-container {
      place-self: center;
    }
  }
  .popularSearchesContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 40px 0px;
    width: 800px;
  }
  .description {
    max-width: 750px;
  }
}
