@use 'variables' as Portal;

.browse-tools-page {
  .home-container-description {
    padding: 0px 0px 60px 0px;
    margin: 0px;
  }

  .header {
    background: Portal.$primary-action-color;
    color: white;
    padding: 50px 0px 30px 0px;
  }
  .sectionTitle {
    padding: 50px 0px 45px 0px;
    text-align: center;
  }
  .sectionSubtitle {
    margin: 10px 0px 25px 0px;
    text-align: center;
  }
  .center-content > .pill-xl {
    margin-top: 50px;
  }
  .searchToolsRow {
    margin-top: 20px;
    display: grid;
    max-width: 750px;
    grid-template-columns: 500px 200px;
    input {
      height: 41px;
    }
    .search-button-container {
      place-self: center;
    }
  }
  .PopularSearches {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 40px 0px;
    width: 800px;
  }
  .description {
    max-width: 750px;
  }
  .categories {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 1200px;
    p {
      color: #fff!important;
      border-bottom: 1px transparent;
      position: relative;
      top: -84px;
      display: block;
      font-size: 18px;
    }
  }
  .highlightSubmitToolContainer {
    background-color: #003a55;
    color: white;
    padding: 50px 0px 100px 0px;
  }

  .bootstrap-4-backport .highlightSubmitToolButton {
    background-color: #e27134;
    color: white;
  }
}
