@use 'variables' as Portal;

.browse-tools-page {
  .searchToolsRow {
    margin-top: 20px;
    display: grid;
    max-width: 750px;
    grid-template-columns: 500px 200px;
    input {
      height: 41px;
    }
    .search-button-container {
      place-self: center;
    }
  }
  .PopularSearches {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 40px 0px;
    width: 800px;
  }
  .description {
    max-width: 750px;
  }
  .categories {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 1200px;
    p {
      color: #fff!important;
      border-bottom: 1px transparent;
      position: relative;
      top: -65px;
      display: block;
      font-size: 18px;
    }
  }
}
