$primary-bgcolor-rgba: unset; // TODO: need to remove in src
@import 'config/style/_overides.scss';
@import 'node_modules/synapse-react-client/dist/template_style/Index.scss';
@import './portal-components/csbc-home-page/style/all.scss';
@import 'node_modules/synapse-react-client/dist/style/main.scss';

.nav-logo {
  height: 50px;
  button {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
  }
  #powered-by-anchor {
    display: block;
    margin: 0px;
    line-height: 0px;
  }
}

%home-bg-util {
  background: rgba(38, 153, 167, 0.03);
  &:last-child {
    // this handles the case when the last element on the home page
    // has its background colored and should not have padding on the bottom
    // that is added from the .main class
    margin-bottom: -60px;
  }
}
// TODO: Make this class generalizable for all portals.
.home {
  padding-bottom: 50px;
  // Usage: className="home home__even" or className="home home__odd"
  // Note - since this class hardcodes the order of the background color applied to the home page, adding components
  // to the home page will change that order, this could conflict with design.
  &__even:nth-child(even) {
    @extend %home-bg-util;
  }
  &__odd:nth-child(odd) {
    @extend %home-bg-util;
  }
}

// Home page container description text, fed by wiki markdown.  Centered text should have a smaller max-width based on design.
.home-container-description {
  .text-align-center {
    max-width: 750px;
    margin: auto;
  }
}

.home-bg-dark {
  @extend %home-bg-util;
}

.home-spacer {
  padding-bottom: 50px;
}

// this pushes the footer to the bottom of the screen
.main {
  min-height: 100vh; /* will cover the 100% of viewport */
  display: block;
  position: relative;
  padding-bottom: 60px;
}

.uppercase {
  text-transform: uppercase;
}

.normal-weight {
  font-weight: normal;
}

.center-content {
  display: flex;
  align-items: center;
}
$header-height: 75px;
$banner-height: 47px;

body {
  font-family: 'Lato', sans-serif;
  button:focus {
    // bootstrap override
    outline: $primary-action-color;
  }
}

.nav + .spacer {
  min-height: $header-height;
  height: $header-height;
}

#banner + .nav + .spacer {
  min-height: $header-height + $banner-height;
  height: $header-height + $banner-height;
}

.flex-display {
  display: flex;
}
// avoid having to rewrite this everywhere
%hoverFade {
  transition: all 400ms;
}

%defaultBoxShadow {
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}
// end utilities

%center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

// banner
#banner {
  height: $banner-height;
  width: 100%;
  position: fixed;
  z-index: 6;
  @extend %center;
  font-size: 16px;
  span {
    font-weight: 600;
    margin-right: 5px;
    @extend %center;
    border-radius: 24px;
    width: 65px;
    height: 28px;
    background: #ededed;
  }
  a {
    margin-left: 4px;
    color: black;
    font-weight: 600;
    text-decoration: underline;
  }
}

// nav
.nav-logo-container {
  flex-basis: 50%;
  display: flex;
}

.nav-link-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 40px;
  @media screen and (max-width: 520px) {
    padding-right: 0px;
  }
}

// if banner exists then make sure the nav sits right below it bet setting its top to the height of
// the banner above it
#banner + .nav {
  top: $banner-height;
}

.nav {
  padding-bottom: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-height: $header-height;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 1001;
  background: rgba(256, 256, 256, 0.9);
  height: 67px;
  a:hover {
    text-decoration: none;
  }
  a:focus {
    text-decoration: none;
  }
}

%borderStyle {
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

%fillerBorder {
  @extend %borderStyle;
  border-bottom-color: transparent;
}

.nav-button {
  text-transform: uppercase;
  font-weight: bold;
  height: -webkit-fill-available;
  // fallback for mozilla and ie11
  height: 100%;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  color: #404b63 !important;
  text-decoration: none;
  padding: 0px 25px !important;
  margin: 0px !important;
  min-width: 100px;
  white-space: normal;
  @extend %fillerBorder;
}

.top-nav-button,
a.top-nav-button {
  text-transform: uppercase;
  font-weight: bold;
  height: -webkit-fill-available;
  // fallback for mozilla and ie11
  height: 100%;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  color: #404b63;
  text-decoration: none;
  padding: 0px 25px;
  margin: 0px;
  min-width: 100px;
  white-space: nowrap;
  @extend %fillerBorder;
  a {
    color: unset; 
    padding: 18px; // increase click area
  }
}

%bottomBorderNav {
  @extend %borderStyle;
  border-bottom-color: $primary-action-color;
}
.nav-button-container:hover, .nav-button-container.isSelected {
  @extend %hoverFade;
  @extend %bottomBorderNav;
}

// override src behavior
.show button.dropdown-toggle.nav-button,
button.dropdown-toggle.nav-button:hover {
  background: unset !important;
  color: unset;
  @extend %bottomBorderNav;
}

// Adjustment for desktop version after adding mobile topnav bar
.nav-link-container button.dropdown-toggle,
.nav-link-container button.dropdown-toggle:hover {
  background: none;
  color: #404b63;
  box-shadow: none;
  outline: none;
}
.nav-link-container .show button.dropdown-toggle {
  border-bottom-color: $primary-action-color;
}

#home-link {
  font-weight: bold;
  font-size: 25px;
  margin-left: 15px;
}

%nav-dropdown-item {
  height: 50px;
  min-width: 230px;
  display: flex;
  align-items: center;
  color: #515359;
}

.nav-user-menu {
  left: 40px !important;
}

.portal-nav-menu {
  padding-top: 0px;
  padding-bottom: 0px;
  .dropdown-item {
    font-size: 16px;
    @extend %nav-dropdown-item;
  }
}

.border-bottom-1 {
  border-bottom: solid 1px !important;
  border-bottom-color: #e5e5e5 !important;
}

.show #user-menu-button,
#user-menu-button:hover {
  background: unset !important;
  color: $primary-action-color;
  @extend %bottomBorderNav;
}

// end nav

// footer
#portal-title-footer {
  flex-basis: 50%;
  font-size: 25px;
  padding-left: 15px;
  a {
    text-decoration: none;
  }
}

#portal-contact-footer {
  flex-basis: 50%;
  display: flex;
  flex-direction: row-reverse;
}

.footer-item {
  padding: 0px 30px;
  text-transform: uppercase;
}

#footer {
  background-image: getFooter('config/style/');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  a {
    color: white;
  }
  height: 60px;
  width: 100%;
}

.SRC-primary-text-color-background {
  background-color: $primary-action-color;
  color: white;
}

#signin-button {
  height: 39px;
  border-radius: 30px;
  padding: 8px 37px;
  border: none;
  &:hover {
    @extend %hoverFade;
    @extend %defaultBoxShadow;
  }
}

#loginPage {
  padding: 30px;
}

.footer-help {
  flex-basis: 50%;
}

// end footer

// header
#header {
  background-image: getHeader('config/style');
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.header-text {
  h2 {
    font-weight: bold;
    margin-bottom: 30px;
  }
  height: fit-content;
  color: white;
  &.blur {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }
  &.center-text {
    text-align: center;
  }
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  p {
    font-size: 16px;
  }
}
// end header

#explore-portal {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}
// ExploreButtons

.explore-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  display: flex;
  align-content: center;
  justify-content: space-between;
  button {
    text-transform: uppercase;
    border-radius: 6px;
    letter-spacing: 0.4px; /* make buttons more readable */
    flex-basis: 22%; /* make buttons wider on home page */
    margin: 0px 8px;
    border: none;
    position: relative;
    height: 50px;
    color: white;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
    // caret dropdown
    &.active-button::after {
      border-top-color: inherit !important;
      border-right: solid 12px transparent;
      border-left: solid 12px transparent;
      border-top: solid 12px;
      transform: translateX(-50%);
      position: absolute;
      z-index: 3;
      content: '';
      top: 100%;
      left: 50%;
      height: 0;
      width: 0;
    }
    &:hover {
      @extend %hoverFade;
      @extend %defaultBoxShadow;
    }
  }
}
// end ExploreButtons

// title
.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  margin: 49px 0 14px 0;
}
.center-title {
  text-align: center;
}
// end title
// home page utils
.newContainer {
  position: relative;
  padding: 20px 0px;
}

// end home page utils

// override synapse table label, TODO: add specific class that can get targeted instead
div.SRC-marginBottomTen {
  p {
    margin-top: 15px;
  }
}

#exploreCount {
  padding-top: 20px;
}

#user-menu-button {
  height: 72px;
  margin-left: 15px;
  width: inherit;
  display: inline-flex;
  align-items: center;
  &:active {
    box-shadow: none;
  }
  outline: none;
  > :first-child,
  > :last-child {
    flex: 1;
  }
  @extend %fillerBorder;
}

.cookiesBanner {
  background: $primary-action-color;
  height: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  // stick to bottom
  position: fixed;
  bottom: 15px;
  z-index: 6;
  width: 100%;

  a {
    margin: 0px 10px;
    color: white;
  }
  button {
    color: $primary-action-color;
  }
}

.queryCountHeader {
  margin-top: 15px;
  margin-bottom: 20px;
}

.statefulButtonTitle {
  margin-top: 15px;
}

@media print {
  footer,
  footer * {
    display: none;
  }
  nav,
  nav * {
    display: none;
  }
  .spacer {
    display: none;
  }
}

.developed-by-sage {
  margin-top: 25px;
  font-size: 15px;
  color: #515359;
  p {
    margin-bottom: 0px;
  }
  #sage-logo {
    margin-top: 10px;
  }
  .logos {
    margin-top: 15px;
    a {
      svg {
        margin-right: 20px;
      }
    }
  }
}
