@use 'variables' as Portal;

@media screen and (max-width: 768px) {

  .explore-nav-container {
    position: relative;
    top: Portal.$header-height;

    .explore-nav {
      grid-template-areas: none;
      margin-left: 0;
    }
  }
  
}

