// Import the theme css
@use './style/variables' as Portal;
html:not(#synapse\.org) .SynapseRedirectDialog {
  .modal-content,
  .modal-body {
    padding: 0px;
  }
  .modal-header {
    padding: 10px 15px 0px 0px;
    border-bottom: none;
  }
  .redirect-title {
    padding: 20px 0px;
  }
  .redirect-dialog-body {
    padding: 0px 45px 45px 45px;
    h4 {
      font-weight: bold;
      margin-bottom: 15px;
    }
    button {
      padding: 0px;
    }
  }
  .links-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
  }
  .redirect-dialog-footer {
    display: flex;
    background-color: rgba(43, 104, 143, 0.05);
    padding: 40px 0px 40px 25px;
  }
  .synapse-logo-text {
    letter-spacing: 6px;
    margin-right: -25px;
  }
  .synapse-logo-image {
    width: 45px;
    height: 45px;
    margin: 10px;
  }
  .synapse-hero-image {
    width: 275px;
  }
}
