// Import the theme css
@use 'variables' as Portal;

.redirect-dialog-body {
  padding: 45px;
  h4 {    
    font-weight: bold;
    margin-bottom: 15px;
  }   
}
.redirect-dialog-footer {
  display: flex;
  background-color: rgba(43, 104, 143, 0.05);  
  padding: 40px 0px 40px 25px;
}
.synapse-logo-text {
  letter-spacing: 6px;
  margin-right: -25px;
}
.synapse-logo-image {
  width: 45px;
  height: 45px;
  margin: 10px;
}
.synapse-hero-image {
  width: 275px;  
}