// Import the theme css
@use 'variables' as Portal;
@use 'synapse-react-client/dist/style/abstracts/variables' as SrcVariables;
@use 'sass:map';

.ToggleSynapseObjects {
  margin-top: 30px;
  .reactSwitchContainer{
    width: 60px;
    position: absolute;
    right: 0px;
    margin-top: -54px;
  }
  color: Portal.$primary-action-color;
  .unselected {
    color: map.get(SrcVariables.$colors, 'gray-600');
  }
}
