@use 'variable_overrides';
@use 'variables' as Portal;

@use 'synapse-react-client/dist/style/main.scss' with
  (
    $primary-action-color: Portal.$primary-action-color,
    $secondary-action-color: Portal.$secondary-action-color,
    $primary-bgcolor-rgba: unset
  );
@use 'synapse-react-client/dist/template_style/Index.scss';
@use '../portal-components/csbc-home-page/style/all.scss';

@use 'Core';
@use 'Markdown';
@use 'Navbar';
@use 'ExploreMenu';
@use 'SynapseRedirectDialog';
@use '../portal-components/DetailsPage';

// style_overrides should be last to ensure its styles have higher priority
@use 'style_overrides';
