$primary-action-color: #00565e;
$secondary-action-color: #f7a700;

// Since scss breaks if a file is missing in a local url link these functinons must get manually overwitten
@function getHeader($path) {
  @return url('config/style/molecule-back.svg');
}

// Currently no footer--just needed for SCSS to compile.
@function getFooter($path) {
  @return url();
}

#header,
#footer {
  background-color: hsl(182, 35%, 45%);
  background-blend-mode: multiply;
}

.arc-diagram {
  margin-top: 20px;
  width: 100%;
}

p.center-title {
  max-width: 80%;
  margin-left: 10%;
}
